@model ProductDetailsModel
<a class="btn btn-secondary email-a-friend-button mr-1" href="@Url.RouteUrl("ProductEmailAFriend", new { productId = Model.Id })" v-b-tooltip.hover.bottom title="@Loc["Products.EmailAFriend"]">
    <b-icon icon="envelope"></b-icon>
    <span class="sr-only">@Loc["Products.EmailAFriend"]</span>
</a>
