@model ProductDetailsModel
<a class="btn btn-secondary email-a-friend-button mr-1" @@click="$bvModal.show('ModalProductEmailAFriend')" v-b-tooltip.hover.bottom title="@Loc["Products.EmailAFriend"]">
    <b-icon icon="envelope"></b-icon>
    <span class="sr-only">@Loc["Products.EmailAFriend"]</span>
</a>