@inject StoreInformationSettings storeInformation
@inject IWorkContext workContext
<a class="navbar-brand store-logo mx-lg-0 mx-auto" target="_self" href="@Url.RouteUrl("HomePage")">
    <img src="/@storeInformation.LogoPicture" alt="@workContext.CurrentStore.Name"/>
    <span class="sr-only">@Loc["admin.configuration.shipping.providers.fields.logo"]</span>
</a>