<!DOCTYPE html>
<html>
<head>
    <title asp-default-title="true"></title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <link href="/theme/css/print.css" rel="stylesheet" type="text/css">
</head>
<body>
    @RenderBody()
</body>
</html>
