@{
    var addtocomparelink = Url.RouteUrl("AddProductToCompare");
}
<template v-if="PopupQuickViewVueModal.CompareProductsEnabled">
    <button class="btn btn-secondary add-to-compare-list-button mr-1" :onclick="'AxiosCart.addproducttocomparelist(`@addtocomparelink/' + PopupQuickViewVueModal.AddToCart.ProductId + '`);return false;'" v-b-tooltip.hover.bottom title="@Loc["Products.Compare.AddToCompareList"]">
        <b-icon icon="shuffle"></b-icon>
        <span class="sr-only">@Loc["Products.Compare.AddToCompareList"]</span>
    </button>
</template>