<div class="product">
    <div class="product-card">
        <h2 class="name">
            {{Model.Name}}
        </h2>
        <span class="price"> {{Model.ProductPrice.Price}}</span>
        <a class="popup-btn">Quick View</a>
        <img :src="Model.DefaultPictureModel.ImageUrl" class="product-img" :alt="Model.DefaultPictureModel.AlternateText">
    </div>
    <div class="popup-invisible-view"></div>
    <div class="popup-card">
        <a>
            <b-icon icon="x-circle" variant="dark" class="close-btn"></b-icon>
        </a>
        <div class="product-img">
            <a class="link-product-detail" :href="Model.Url" :title="Model.DefaultPictureModel.Title">

                <img :src="Model.DefaultPictureModel.ImageUrl" :alt="Model.DefaultPictureModel.AlternateText">
            </a>
        </div>
        <div class="info">
            <h2>
                {{Model.Name}}
                <br>
                <template v-if="Model.ShowSku && Model.Sku !== null">
                    <span class="sku">{{Model.Sku}}</span>
                </template>
            </h2>
            <div class="desc" v-html="Model.ShortDescription"></div>
            <span class="price">{{Model.ProductPrice.Price}}</span>
            <a href="#" class="add-cart-btn">Add to Cart</a>
            <a href="#" class="add-wish">Add to Wishlist</a>
            <a href="#" class="add-cart-btn">Add to Cart</a>
        </div>
    </div>
</div>

<script asp-location="Footer">
    window.addEventListener('DOMContentLoaded', (event) => {
        var popupInvisibleViews = document.querySelectorAll('.popup-invisible-view');
        var popupCards = document.querySelectorAll('.popup-card');
        var popupBtns = document.querySelectorAll('.popup-btn');
        var closeBtns = document.querySelectorAll('.close-btn');

        //javascript for quick view button
        var popup = function (popupClick) {
            popupInvisibleViews[popupClick].classList.add('active');
            popupCards[popupClick].classList.add('active');
        }

        popupBtns.forEach((popupBtn, i) => {
            popupBtn.addEventListener("click", () => {
                popup(i);
            });
        });

        //javascript for close button
        closeBtns.forEach((closeBtn, i) => {
            closeBtn.addEventListener("click", () => {
                popupInvisibleViews[i].classList.remove('active');
                popupCards[i].classList.remove('active');
            });
        });

        popupInvisibleViews.forEach((popupInvisibleView, i) => {
            popupInvisibleView.addEventListener("click", (event) => {
                popupInvisibleViews[i].classList.remove('active');
                popupCards[i].classList.remove('active');
            });
        });

    })
</script>
