@model SubAccountModel
@using Grand.Web.Models.Customer;
@inject IPageHeadBuilder pagebuilder
@{
    Layout = "_TwoColumns";

    //title
    pagebuilder.AddTitleParts(Loc["Title.Account"]);
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = AccountNavigationEnum.SubAccounts })
}
<form asp-route="CustomerSubAccountAdd" asp-antiforgery="true" method="post" autocomplete="off" v-on:submit.prevent="validateBeforeSubmit($event)">
    <div class="page account-page subaccount-edit-page pl-lg-3 mb-3 pt-lg-0 pt-3">
        <h1 class="generalTitle h2">@Loc["Account.SubAccount.AddNew"]</h1>
        <div asp-validation-summary="ModelOnly" class="message-error alert alert-danger my-3"></div>
        <partial name="_CreateOrUpdateSubAccount" model="Model" />
        <div class="buttons generalMarginSupporter">
            <input type="submit" class="btn btn-info save-subaccount-button" value="@Loc["Common.Save"]" />
        </div>
    </div>
</form>