@inject IPageHeadBuilder pagebuilder
@{
    Layout = "_SingleColumn";

    //title
    pagebuilder.AddTitleParts(Loc["Title.StoreClosed"]);
}
<div class="page store-closed-page">
    <h1 class="h2 generalTitle">@Loc["StoreClosed"]</h1>
    <div class="alert my-3">
        @Loc["StoreClosed.Hint"]
    </div>
</div>
