@model AddressAttributeValueModel
@{
    Layout = "";
    ViewBag.Title = Loc["Admin.Address.AddressAttributes.Values.EditValueDetails"];
}

<form id="ValueEditPopup" asp-area="@Constants.AreaAdmin" asp-controller="AddressAttribute" asp-action="ValueEditPopup">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel light form-fit">
                <div class="x_title">
                    <div class="caption">
                        <i class="fa fa-list-alt"></i>
                        @Loc["Admin.Address.AddressAttributes.Values.EditValueDetails"]
                    </div>
                </div>
                <vc:admin-widget widget-zone="address_attribute_value_details_buttons" additional-data="Model" />
                <div class="x_content form">
                    <partial name="_CreateOrUpdateValue" model="Model" />
                </div>
            </div>
        </div>
    </div>
    <script>
        var mfp = $.magnificPopup.instance;
        $("#ValueEditPopup").submit(function (e) {
            e.preventDefault();
            var form = $(this);
            var url = form.attr('action');
            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(),
                success: function (data) {
                    if (data == "") {
                        mfp.close();
                        $('#btnRefresh').click();
                    } else {
                        $.magnificPopup.open({
                            items: {
                                src: data,
                                type: 'inline'
                            },
                            callbacks: {
                                open: function () {
                                    $('.mfp-wrap').removeAttr('tabindex');
                                }
                            }
                        });
                    }
                }
            });
        });
    </script>
</form>