@model PageModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<admin-tabstrip name="page-edit">
    <items>
        <tabstrip-item text="@Loc["Admin.Content.Pages.Info"]" tab-index="0">
            <content>
                <div>
                    <partial name="_CreateOrUpdate.TabInfo" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@Loc["Admin.Common.SEO"]" tab-index="1">
            <content>
                <div>
                    <partial name="_CreateOrUpdate.TabSeo" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@Loc["Admin.Common.UserFields.Tab"]" tab-index="2">
            <content>
                <div>
                    @{
                        ViewData["ObjectType"] = "Page";
                        ViewData["TabIndex"] = 2;
                     }
                    <partial name="_UserFields" model="Model" view-data="ViewData" />
                </div>
            </content>
        </tabstrip-item>
        <vc:admin-widget widget-zone="page_details_tabs" additional-data="Model" />
    </items>
</admin-tabstrip>
