@model KnowledgebaseArticleModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<admin-tabstrip name="knowledgebasearticle-edit">
    <items>
        <tabstrip-item text="@Loc["Admin.Content.Knowledgebase.KnowledgebaseArticle.Info"]" tab-index="0">
            <content>
                <div>
                    <partial name="_CreateOrUpdateArticle.TabInfo" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@Loc["Admin.Content.Knowledgebase.KnowledgebaseArticle.Seo"]" tab-index="1">
            <content>
                <div>
                    <partial name="_CreateOrUpdateArticle.TabSeo" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@Loc["Admin.Content.Knowledgebase.KnowledgebaseArticle.Related"]" tab-index="2">
            <content>
                <div>
                    <partial name="_CreateOrUpdateArticle.TabRelated" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@Loc["Admin.Content.Knowledgebase.KnowledgebaseArticle.ActivityLog"]" tab-index="3">
            <content>
                <div>
                    <partial name="_CreateOrUpdateArticle.TabActivityLog" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <vc:admin-widget widget-zone="knowledgebase_article_details_tabs" additional-data="Model" />
    </items>
</admin-tabstrip>
