@inject IPageHeadBuilder pagebuilder
@model ShoppingCartModel
@{
    Layout = "_SingleColumn";

    //title
    pagebuilder.AddTitleParts(Loc["Title.ShoppingCart"]);
}
<div class="page shopping-cart-page">
    <h2 class="generalTitle text-center mt-3">@Loc["ShoppingCart"]</h2>
    <div class="page-body">
        <partial name="CartSummary" model="Model" />
    </div>
</div>
