@model StoreModel

<script>
    $(document).ready(function () {

        $("#@Html.IdFor(model => model.SslEnabled)").click(toggleSslEnabled);

        toggleSslEnabled();
    });

    function toggleSslEnabled() {
        if ($('#@Html.IdFor(model => model.SslEnabled)').is(':checked')) {
            $('#pnlSecureUrl').show();
        }
        else {
            $('#pnlSecureUrl').hide();
        }
    }
</script>
<vc:admin-widget widget-zone="store_details_top" additional-data="Model" />

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<admin-tabstrip name="store-edit">
    <items>
        <tabstrip-item text="@Loc["Admin.Stores.Info"]" tab-index="0">
            <content>
                <div>
                    <partial name="_CreateOrUpdate.TabInfo" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@Loc["Admin.Stores.Domains"]" tab-index="1">
            <content>
                <div>
                    <partial name="_CreateOrUpdate.TabDomains" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@Loc["Admin.Stores.BankInfo"]" tab-index="2">
            <content>
                <div>
                    <partial name="_CreateOrUpdate.TabBankAccount" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        <vc:admin-widget widget-zone="store_details_tabs" additional-data="Model" />
    </items>
</admin-tabstrip>


<vc:admin-widget widget-zone="store_details_bottom" additional-data="Model" />