<!DOCTYPE html>
<html>
<head>
    <title asp-default-title="true"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <link href="/theme/css/print.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap-vue/dist/bootstrap-vue.min.css">
    <script src="/lib/vue/dist/vue.min.js"></script>
    <script src="/lib/bootstrap-vue/dist/bootstrap-vue.min.js"></script>
    <script src="/lib/poper/dist/poper.js"></script>
</head>
<body>
    @RenderBody()
    <script asp-location="Footer" asp-src="/theme/script/menu.js"></script>
    <script asp-location="Footer" asp-src="/theme/script/app.js"></script>

</body>
</html>
