<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <link href="/theme/css/print.css" rel="stylesheet" type="text/css">
</head>
<body>
    @RenderBody()
</body>
</html>
