@inject StoreInformationSettings storeInformation
@inject IWorkContext workContext
@inject Grand.Business.Core.Interfaces.Storage.IPictureService pictureService
@{ 
    var urlLogo = await pictureService.GetPictureUrl(storeInformation.LogoPictureId);
}
<a class="navbar-brand store-logo mx-lg-0 mx-auto" target="_self" href="@Url.RouteUrl("HomePage")">
    <img width="236" height="53" src="@urlLogo" alt="@workContext.CurrentStore.Name"/>
    <span class="sr-only">@Loc["Logo"]</span>
</a>