@model IList<ProductOverviewModel>
@inject DisplayOrderHomePage order
<div class="product-grid suggested-product-grid order-@order.SuggestedProducts">
    <h2 class="generalTitle text-center">@Loc["HomePage.Suggested.Products"]</h2>
    <div class="col-12 px-0">
        <div class="form-row">
            @foreach (var item in Model)
            {
                <div class="col-xl-@order.Sp_Xl col-lg-@order.Sp_Lg col-md-@order.Sp_Md col-sm-@order.Sp_Sm col-@order.Sp_Col product-container mb-2">
                    <partial name="_CatalogProductView" model="item" />
                </div>
            }
        </div>
    </div>
</div>