@model FooterModel

<partial name="Partials/NewsletterBox" />


<div id="footer" class="footer">
    <div class="site-footer -bg">
        <div class="image -desktop" style='background-image:url("images/footer1.jpg")'></div>
    </div class="site-footer -content">
    
    

    </div>
</div>