@{
    var sendfriend = Url.RouteUrl("ProductEmailAFriend");
}
<template v-if="PopupQuickViewVueModal.EmailAFriendEnabled">
    <a class="btn btn-outline-secondary email-a-friend-button mr-1" :href="'@sendfriend/' + PopupQuickViewVueModal.Id" v-b-tooltip.hover.bottom title="@Loc["Products.EmailAFriend"]">
        <span class="icons icon-envelope-letter"></span>
        <span class="sr-only">@Loc["Products.EmailAFriend"]</span>
    </a>
</template>