@model IList<ProductOverviewModel>

<div class="product-grid blogpost-product-grid col-12 px-0">
    <h2 class="h3 generalTitle text-center">
        @Loc["Blog.Products"]
    </h2>
        <div class=" form-row flex-grid">
            @foreach (var product in Model)
            {
                <div class="col-lg-4 col-sm-6 col-6 mb-2">
                    <partial name="_CatalogProductView" model="product" />
                </div>
            }
        </div>
</div>
