@using Grand.Business.Core.Interfaces.Common.Security
@using Grand.Business.Core.Utilities.Common.Security
@model CustomerGroupModel
@inject IPermissionService permissionService
@{
    var access = await permissionService.Authorize(StandardPermission.ManageAcl);
}
<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden"/>
<vc:admin-widget widget-zone="customer_group_details_top" additional-data="Model"/>
<admin-tabstrip name="customergroup-edit">
    <items>
        <tabstrip-item text="@Loc["Admin.Customers.CustomerGroups.Info"]" tab-index="0">
            <content>
                <div>
                    <partial name="Partials/CreateOrUpdate.TabInfo" model="Model"/>
                </div>
            </content>
        </tabstrip-item>
        <tabstrip-item text="@Loc["Admin.Customers.CustomerGroups.Products"]" tab-index="1">
            <content>
                <div>
                    <partial name="Partials/CreateOrUpdate.TabProducts" model="Model"/>
                </div>
            </content>
        </tabstrip-item>
        @if (access)
        {
            <tabstrip-item text="@Loc["Admin.Customers.CustomerGroups.Acl"]" tab-index="2">
                <content>
                    <div>
                        <partial name="Partials/CreateOrUpdate.TabAcl" model="Model"/>
                    </div>
                </content>
            </tabstrip-item>
        }
        <tabstrip-item text="@Loc["Admin.Common.UserFields.Tab"]" tab-index="3">
            <content>
                <div>
                    <partial name="Partials/UserFields" model="Model"/>
                </div>
            </content>
        </tabstrip-item>
        <vc:admin-widget widget-zone="customer_group_details_tabs" additional-data="Model"/>
    </items>
</admin-tabstrip>
<vc:admin-widget widget-zone="customer_group_details_bottom" additional-data="Model"/>