@using Grand.Business.Core.Interfaces.Storage
@inject StoreInformationSettings storeInformation
@inject IWorkContextAccessor workContextAccessor
@inject IPictureService pictureService
@{
    var urlLogo = await pictureService.GetPictureUrl(storeInformation.LogoPictureId);
}
<a class="navbar-brand store-logo" target="_self" href="@Url.RouteUrl("HomePage")">
    <img width="236" height="53" src="@urlLogo" alt="@workContextAccessor.WorkContext.CurrentStore.Name" />
    <span class="sr-only">@Loc["Logo"]</span>
</a>