<div v-if="vmorder.PaymentInfo" class="checkout-data">
    <div class="col-12 px-0">
        <div v-if="vmorder.paymentBussy" style="height: 200px" class="d-flex justify-content-center align-items-center w-100">
            <b-spinner variant="info" label="Loading..."></b-spinner>
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = "checkout_payment_info_top" })
        <div class="section payment-info">
            <div class="info">
            </div>
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = "checkout_payment_info_bottom" })
    </div>
</div>