@model ContentSettingsModel

<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                <admin-label asp-for="KnowledgebaseSettings.Enabled" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="KnowledgebaseSettings.Enabled" />
                    <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="KnowledgebaseSettings.Enabled"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                <admin-label asp-for="KnowledgebaseSettings.AllowNotRegisteredUsersToLeaveComments" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="KnowledgebaseSettings.AllowNotRegisteredUsersToLeaveComments" />
                    <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="KnowledgebaseSettings.AllowNotRegisteredUsersToLeaveComments"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                <admin-label asp-for="KnowledgebaseSettings.NotifyAboutNewArticleComments" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="KnowledgebaseSettings.NotifyAboutNewArticleComments" />
                    <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="KnowledgebaseSettings.NotifyAboutNewArticleComments"></span>
            </div>
        </div>
    </div>
</div>
