@model GeneralCommonSettingsModel

<div class="form-horizontal">
    <div class="form-body"></div>
    <div class="note note-info">
        @if (Model.FullTextSettings.Enabled)
            {
            @Loc["Admin.Settings.GeneralCommon.FullTextSettings.CurrenlyEnabled"]
        }
        else
        {
            @Loc["Admin.Settings.GeneralCommon.FullTextSettings.CurrenlyDisabled"]
        }
    </div>
    <div class="form-group">
        <div class="">
            <input type="submit" name="togglefulltext" asp-action="ToggleFullText" value="@(Model.FullTextSettings.Enabled ? Loc["Admin.Settings.GeneralCommon.FullTextSettings.Disable"] : Loc["Admin.Settings.GeneralCommon.FullTextSettings.Enable"])" class="k-button" />
        </div>
    </div>
</div>