@model SalesSettingsModel

<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <div class="note note-info">
                @Loc["Admin.Settings.Order.MerchandiseReturnsDescription1"]
                <br />
                @Loc["Admin.Settings.Order.MerchandiseReturnsDescription2"]
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                <admin-label asp-for="OrderSettings.MerchandiseReturnsEnabled" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="OrderSettings.MerchandiseReturnsEnabled" />
                    <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="OrderSettings.MerchandiseReturnsEnabled"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                <admin-label asp-for="OrderSettings.MerchandiseReturns_AllowToSpecifyPickupAddress" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="OrderSettings.MerchandiseReturns_AllowToSpecifyPickupAddress" />
                    <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="OrderSettings.MerchandiseReturns_AllowToSpecifyPickupAddress"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                <admin-label asp-for="OrderSettings.MerchandiseReturns_AllowToSpecifyPickupDate" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="OrderSettings.MerchandiseReturns_AllowToSpecifyPickupDate" />
                    <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="OrderSettings.MerchandiseReturns_AllowToSpecifyPickupDate"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                <admin-label asp-for="OrderSettings.MerchandiseReturns_PickupDateRequired" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                    <admin-input asp-for="OrderSettings.MerchandiseReturns_PickupDateRequired" />
                    <div class="control__indicator"></div>
                </label>
                <span asp-validation-for="OrderSettings.MerchandiseReturns_PickupDateRequired"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 col-md-4 col-sm-4 text-right">
                <admin-label asp-for="OrderSettings.NumberOfDaysMerchandiseReturnAvailable" class="control-label" />
            </div>
            <div class="col-4 col-md-8 col-sm-8">
                <admin-input asp-for="OrderSettings.NumberOfDaysMerchandiseReturnAvailable" />
                <span asp-validation-for="OrderSettings.NumberOfDaysMerchandiseReturnAvailable"></span>
            </div>
        </div>
    </div>
</div>
<partial name="_MerchandiseReturnReasons" />
<partial name="_MerchandiseReturnActions" />
