@inject Grand.Business.Common.Interfaces.Localization.ILanguageService languageService
@model Grand.Web.Admin.Models.Settings.SystemSettingsModel
@{
    //page title
    ViewBag.Title = Loc["Admin.Settings.System"];

    var languages = new List<SelectListItem>();
    foreach (var item in await languageService.GetAllLanguages(true))
    {
        languages.Add(new SelectListItem() { 
            Value = item.Id,
            Text = item.Name,
            Selected = item.Id == Model.DefaultAdminLanguageId
        });
    }

}
<form asp-area="@Constants.AreaAdmin" asp-controller="Setting" asp-action="SystemSetting" method="post">
    
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel light form-fit">
                <div class="x_title">
                    <div class="caption">
                        <i class="fa fa-cubes"></i>
                        @Loc["Admin.Settings.System"]
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided">
                            <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @Loc["Admin.Common.Save"] </button>
                        </div>
                    </div>
                </div>
                <div class="x_content form">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group">
                                <div class="col-8 col-md-4 col-sm-4 text-right">
                                    <admin-label asp-for="OrderIdent" class="control-label" />
                                </div>
                                <div class="col-4 col-md-8 col-sm-8">
                                    <admin-input asp-for="OrderIdent" />
                                </div>
                            </div>
                        </div>
                        <div class="form-body">
                            <div class="form-group">
                                <div class="col-8 col-md-4 col-sm-4 text-right">
                                    <admin-label asp-for="DeleteGuestTaskOlderThanMinutes" class="control-label" />
                                </div>
                                <div class="col-4 col-md-8 col-sm-8">
                                    <admin-input asp-for="DeleteGuestTaskOlderThanMinutes" />
                                </div>
                            </div>
                        </div>
                        <div class="form-body">
                            <div class="form-group">
                                <div class="col-8 col-md-4 col-sm-4 text-right">
                                    <admin-label asp-for="DaysToCancelUnpaidOrder" class="control-label" />
                                </div>
                                <div class="col-4 col-md-8 col-sm-8">
                                    <admin-input asp-for="DaysToCancelUnpaidOrder" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-8 col-md-4 col-sm-4 text-right">
                                <admin-label asp-for="UseIsoDateTimeConverterInJson" class="control-label" />
                            </div>
                            <div class="col-4 col-md-8 col-sm-8">
                                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                                    <admin-input asp-for="UseIsoDateTimeConverterInJson" />
                                    <div class="control__indicator"></div>
                                </label>
                                <span asp-validation-for="UseIsoDateTimeConverterInJson"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-8 col-md-4 col-sm-4 text-right">
                                <admin-label asp-for="DefaultGridPageSize" class="control-label" />
                            </div>
                            <div class="col-4 col-md-8 col-sm-8">
                                <admin-input asp-for="DefaultGridPageSize" />
                                <span asp-validation-for="DefaultGridPageSize"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-8 col-md-4 col-sm-4 text-right">
                                <admin-label asp-for="GridPageSizes" class="control-label" />
                            </div>
                            <div class="col-4 col-md-8 col-sm-8">
                                <admin-input asp-for="GridPageSizes" />
                                <span asp-validation-for="GridPageSizes"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-8 col-md-4 col-sm-4 text-right">
                                <admin-label asp-for="DefaultAdminLanguageId" class="control-label" />
                            </div>
                            <div class="col-4 col-md-8 col-sm-8">
                                <admin-select asp-for="DefaultAdminLanguageId" asp-items="languages" />
                                <span asp-validation-for="DefaultAdminLanguageId"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-8 col-md-4 col-sm-4 text-right">
                                <admin-label asp-for="AutomaticallyDetectLanguage" class="control-label" />
                            </div>
                            <div class="col-4 col-md-8 col-sm-8">
                                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                                    <admin-input asp-for="AutomaticallyDetectLanguage" />
                                    <div class="control__indicator"></div>
                                </label>
                                <span asp-validation-for="AutomaticallyDetectLanguage"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-8 col-md-4 col-sm-4 text-right">
                                <admin-label asp-for="IgnoreRtlPropertyForAdminArea" class="control-label" />
                            </div>
                            <div class="col-4 col-md-8 col-sm-8">
                                <label class="mt-checkbox mt-checkbox-outline control control-checkbox">
                                    <admin-input asp-for="IgnoreRtlPropertyForAdminArea" />
                                    <div class="control__indicator"></div>
                                </label>
                                <span asp-validation-for="IgnoreRtlPropertyForAdminArea"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-8 col-md-4 col-sm-4 text-right">
                                <admin-label asp-for="DocumentPageSizeSettings" class="control-label" />
                            </div>
                            <div class="col-4 col-md-8 col-sm-8">
                                <admin-input asp-for="DocumentPageSizeSettings" />
                                <span asp-validation-for="DocumentPageSizeSettings"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
