.header-nav {
    background: url(https://cdn.helmade.com/misc/header-background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: block;
    z-index: 100;
    border-bottom: none !important;
}



.homePageStoryContainer {
    position: relative;
    top: -80px;
}

    .homePageStoryContainer .homePageIntro {
        overflow: hidden;
        height: 1050px;
        background-color: #000000;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        content: "";
        position: relative;
    }

    .homePageStoryContainer .homePageStoryDesktop, .homePageStoryContainer .homePageStoryMobile {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-position: 50% 50%;
        background-size: cover;
        opacity: 0.5;
    }

    .homePageStoryContainer .intro-overlay {
        top: 50%;
        margin-top: -235px;
    }

        .homePageStoryContainer .intro-overlay .intro-headline {
            background-image: url("https://cdn.helmade.com/home/intro/headline.png");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            padding-top: 24.1%;
            opacity: 1;
            position: relative;
            float: left;
        }

    .homePageStoryContainer .intro-text {
        margin-top: 20px;
        font-family: "HelveticaNeueW01-45Ligh";
        font-size: 18px;
        letter-spacing: 0.03em;
        font-style: normal;
        font-weight: normal;
        color: #fff;
        text-align: center;
    }

        .homePageStoryContainer .intro-text h1 {
            line-height: 1.3;
            font-size: 1rem;
            font-weight: 400;
            font-style: normal;
            line-height: 1.2;
            text-rendering: optimizeLegibility;
            text-transform: uppercase;
        }

.width-limited {
    max-width: 1280px;
}

.page-content {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 125px;
}

.helmet-category-teaser {
    top: -55px;
    position: relative;
}

    .helmet-category-teaser .category-row {
        position: relative;
        left: 0;
        right: 0;
        padding-top: 70%;
    }

    .helmet-category-teaser .teaser-image {
        display: block;
        position: absolute;
        top: 310px;
    }

    .helmet-category-teaser .teaser-helmet {
        z-index: 3;
        position: absolute;
        display: block;
        top: 0;
        padding-top: 37%;
    }



    .helmet-category-teaser .teaser-image a {
        color: #383838;
        font-family: "HelveticaNeueW01-45Ligh";
        font-size: 18px;
        letter-spacing: 0.03em;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        position: relative;
        color: rgb(197, 192, 184);
    }

        .helmet-category-teaser .teaser-image a h5 {
            position: relative;
            z-index: 1;
        }

    .helmet-category-teaser .teaser-headline {
        z-index: 4;
        display: block;
        position: absolute;
        top: 110px;
    }

    .helmet-category-teaser .teaser-link {
        z-index: 5;
        top: 265px;
        position: absolute;
    }

        .helmet-category-teaser .teaser-link a {
            color: #383838;
            font-family: "HelveticaNeueW01-45Ligh";
            font-size: 18px;
            letter-spacing: 0.03em;
            font-style: normal;
            font-weight: normal;
            font-size: 28px;
            position: relative;
        }

            .helmet-category-teaser .teaser-link a::before {
                z-index: 0;
                display: block;
                position: absolute;
                bottom: -1px;
                left: 0;
                content: "";
                width: 100%;
                height: 6px;
                background-color: #3df090;
            }

.gradient-container {
    background-color: #ddd;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}


    .gradient-container .color-start {
        top: -11%;
        left: -50%;
        bottom: 50%;
        -webkit-transform-origin: 100% 100%;
        -moz-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }


    .gradient-container .color-start, .gradient-container .color-end {
        z-index: 1;
        display: block;
        position: absolute;
        content: "";
        -webkit-transform: rotate(-100deg);
        -moz-transform: rotate(-100deg);
        -ms-transform: rotate(-100deg);
        -o-transform: rotate(-100deg);
        transform: rotate(-100deg);
        pointer-events: none;
        -webkit-transition: all 10s cubic-bezier(0, 1, 0, 1);
        -moz-transition: all 10s cubic-bezier(0, 1, 0, 1) false;
        -o-transition: all 10s cubic-bezier(0, 1, 0, 1) false;
        transition: all 10s cubic-bezier(0, 1, 0, 1);
        right: 50%;
    }

    .gradient-container .color-container {
        z-index: 0;
        -webkit-transform: scale(1) rotate(-100deg);
        -moz-transform: scale(1) rotate(-100deg);
        -ms-transform: scale(1) rotate(-100deg);
        -o-transform: scale(1) rotate(-100deg);
        transform: scale(1) rotate(-100deg);
        -webkit-transition: all 10s cubic-bezier(0, 1, 0, 1);
        -moz-transition: all 10s cubic-bezier(0, 1, 0, 1) false;
        -o-transition: all 10s cubic-bezier(0, 1, 0, 1) false;
        transition: all 10s cubic-bezier(0, 1, 0, 1);
        position: absolute;
        left: -44%;
        top: -11%;
        right: -44%;
        bottom: -11%;
    }

    .gradient-container .color-end {
        top: 50%;
        left: -50%;
        bottom: -11%;
        -webkit-transform-origin: 100% 0%;
        -moz-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }

    .gradient-container:hover .color-container {
        -webkit-transform: scale(1) rotate(375deg);
        -moz-transform: scale(1) rotate(375deg);
        -ms-transform: scale(1) rotate(375deg);
        -o-transform: scale(1) rotate(375deg);
        transform: scale(1) rotate(375deg);
    }

    .gradient-container:hover .color-start,
    .gradient-container:hover .color-end {
        -webkit-transform: rotate(375deg);
        -moz-transform: rotate(375deg);
        -ms-transform: rotate(375deg);
        -o-transform: rotate(375deg);
        transform: rotate(375deg);
    }

.helmet-category-teaser a.item:hover .gradient-container .color-start,
.helmet-category-teaser a.item:hover .gradient-container .color-end {
    -webkit-transform: rotate(215deg);
    -moz-transform: rotate(215deg);
    -ms-transform: rotate(215deg);
    -o-transform: rotate(215deg);
    transform: rotate(215deg);
}

.helmet-category-teaser a.item:hover .white-box {
    -webkit-transform: scale3d(1.045, 1.03, 1.045);
    -moz-transform: scale3d(1.045, 1.03, 1.045);
    -ms-transform: scale3d(1.045, 1.03, 1.045);
    -o-transform: scale3d(1.045, 1.03, 1.045);
    transform: scale3d(1.045, 1.03, 1.045);
}

.helmet-category-teaser a.item:hover .product-image {
    -webkit-transform: scale3d(1.01887, 1.01887, 1.01887);
    -moz-transform: scale3d(1.01887, 1.01887, 1.01887);
    -ms-transform: scale3d(1.01887, 1.01887, 1.01887);
    -o-transform: scale3d(1.01887, 1.01887, 1.01887);
    transform: scale3d(1.01887, 1.01887, 1.01887);
}

.helmet-category-teaser a.item:hover .product-image {
    -webkit-transform: scale3d(1.01887, 1.01887, 1.01887);
    -moz-transform: scale3d(1.01887, 1.01887, 1.01887);
    -ms-transform: scale3d(1.01887, 1.01887, 1.01887);
    -o-transform: scale3d(1.01887, 1.01887, 1.01887);
    transform: scale3d(1.01887, 1.01887, 1.01887);
}

.helmet-category-teaser a.item:hover .content-box .product-info:before {
    -webkit-transform: scaleY(1.02);
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -o-transform: scaleY(1.02);
    transform: scaleY(1.02);
}


.content-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    text-align: center;
    color: #383838;
}

    .content-box .product-info {
        position: absolute;
        left: -46px;
        bottom: 30px;
        max-width: 300px;
        text-align: left;
    }

        .content-box .product-info::before {
            background-color: #fff;
            left: 45px;
            right: auto;
            width: 29px;
            top: -2px;
            bottom: -10px;
            z-index: 0;
            -webkit-transition: all 0.5s cubic-bezier(0.24, 0, 0.06, 1.01);
            -moz-transition: all 0.5s cubic-bezier(0.24, 0, 0.06, 1.01) false;
            -o-transition: all 0.5s cubic-bezier(0.24, 0, 0.06, 1.01) false;
            transition: all 0.5s cubic-bezier(0.24, 0, 0.06, 1.01);
            display: block;
            position: absolute;
            content: "";
        }

        .content-box .product-info .product-name {
            font-family: HelveticaNeueW01-75Bold;
            font-style: normal;
            font-weight: normal;
            text-transform: none;
            color: rgb(56, 56, 56);
            font-size: 34px;
            z-index: 1;
            line-height: 1;
            border-bottom: 6px solid rgb(66, 240, 146);
            vertical-align: bottom;
            position: relative;
        }

        .content-box .product-info .product-price {
            margin-top: 18px;
            display: block;
            font-family: HelveticaNeueW01-45Ligh;
            letter-spacing: 0.03em;
            font-style: normal;
            font-weight: normal;
            font-size: 28px;
            z-index: 1;
            position: relative;
        }

.product-info .button {
    border-radius: 3px;
    padding: 12px 24px;
    margin-top: 10px;
    background-color: rgb(0, 234, 59);
    --darkreader-inline-bgcolor: #00bb2f;
    color: white;
    display: inline-block;
    line-height: 19px;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
}

    .product-info .button::after {
        background-repeat: repeat-y;
        background-size: 100%;
        display: block;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: absolute;
    }

.content-box .product-image {
    border-color: initial;
    border: none;
    margin: 10%;
    margin-top: 5%;
    -webkit-transition: all 0.5s cubic-bezier(0.24, 0, 0.06, 1.01);
    -moz-transition: all 0.5s cubic-bezier(0.24, 0, 0.06, 1.01) false;
    -o-transition: all 0.5s cubic-bezier(0.24, 0, 0.06, 1.01) false;
    transition: all 0.5s cubic-bezier(0.24, 0, 0.06, 1.01);
}

    .content-box .product-image:hover {
        position: relative;
        display: block;
    }

    .content-box .product-image img {
        width: 90%;
        display: inline-block;
        max-width: 100%;
        width: auto;
        height: auto;
    }

.white-box {
    background: #fff;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
    position: absolute;
    content: "";
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
    z-index: 2;
}



/*Footer*/
.footer {
    height: 490px;
}

    .footer .site-footer {
        height: 100%;
    }

    .footer .image {
        display: block;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
        aspect-ratio: 2 / 1;
        opacity: 0.8;
    }

    .footer .-bg {
        height: 100%;
    }

    .footer .-content {
        top: 0;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 40px 20px;
        color: white;
    }

        .footer .-content .content-container {
            padding: 20px;
        }

            .footer .-content .content-container .company-address-satisfaction-logo .company-name {
                font-size: 17px;
            }

            .footer .-content .content-container .company-address-satisfaction-logo .satisfaction-logo img {
                height: 100px;
            }

            .footer .-content .content-container .links {
                padding-left: 0;
            }

            .footer .-content .content-container .links a {
                color: white;
            }

    .footer .footer-icon{
        height: 30px;
        width: 30px;
    }

    .footer .fill-white{
        fill: white;
    }

    .footer .social-media{
        padding-top: 20px;
    }

    .footer .social-media li {
        padding-left: 10px;
    }

    @media only screen and (max-width: 992px) {
        .footer{
        min-height: 880px;
    }

        .footer .-content .content-container .links {
            padding-top: 30px;
            padding-left: 15px;
        }

        .footer .-content .content-container .right-container{
            padding-top: 30px;
        }
}

@media (min-width: 768px) {
    .footer .-content {
        padding: 40px 40px;
    }

      
}

/*End Footer*/



/*Side Navigation*/
.Menu li:not(.category) {
    background-color: unset;
}

.Menu li.category {
    background-color: unset;
}

@media (min-width: 576px) {
    .b-sidebar {
        width: 400px;
    }
}

/*End Side Navigation*/

/*Login*/

.login-page .login-button {
    background-color: #631FC5;
}

.login-page .login-title {
    color: black;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
}

.login-page .form-control {
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 26px;
    box-shadow: 0 1px 0rgba(255,255,255,.5),0 1px 0rgba(0,0,0,.07) inset;
    outline: 0;
    height: 45px;
}

.login-page :is(.username, .email, .password) {
    padding-left: 40px;
}

.login-page .remember-me-checkbox {
    bottom: 4px;
}

.login-page .a-divider-break {
    text-align: center;
    position: relative;
    top: 2px;
    padding-top: 1px;
    margin-bottom: 14px;
    line-height: 0;
}

.login-page .a-divider-break {
    content: "";
    width: 100%;
    background-color: transparent;
    display: block;
    height: 1px;
    border-top: 1px solid #e7e7e7;
    margin-top: -1px;
    z-index: 1;
}

    .login-page .a-divider-break span {
        line-height: 1;
        font-size: 15px;
        color: #767676;
        font-weight: 400;
        z-index: 2;
        position: relative;
        display: inline-block;
        background-color: #fff;
        padding: 0 8px 0 7px;
        top: -10px;
    }

.login-page .external-authentication .form-control {
    color: black;
}

.blue-color {
    color: #631FC5;
}

/*End Login*/



/*Side wise*/
.white-line {
    height: 0.5px;
    width: 100%;
    background-color: whitesmoke;
}

.black-line {
    height: 0.5px;
    width: 90%;
    background-color: black;
}

/*End Side wise*/


/*Slider video*/

/*End Slider Video*/

section {
    padding: 100px 200px;
}

.video-slider-home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #2696E9;
    top: -80px;
}

    .video-slider-home:before {
        z-index: 777;
        content: '';
        position: absolute;
        background: rgba(3, 96, 251, 0.3);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .video-slider-home .content {
        z-index: 888;
        color: #fff;
        width: 70%;
        margin-top: 50px;
        display: none;
    }

        .video-slider-home .content.active {
            display: block;
        }

        .video-slider-home .content h1 {
            font-size: 4em;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 5px;
            line-height: 75px;
            margin-bottom: 40px;
        }

            .video-slider-home .content h1 span {
                font-size: 1.2em;
                font-weight: 600;
            }

        .video-slider-home .content p {
            margin-bottom: 65px;
        }

        .video-slider-home .content a {
            background: #fff;
            padding: 15px 35px;
            color: #1680AC;
            font-size: 1.1em;
            font-weight: 500;
            text-decoration: none;
            border-radius: 2px;
        }

    .video-slider-home .media-icons {
        z-index: 888;
        position: absolute;
        right: 30px;
        display: flex;
        flex-direction: column;
        transition: 0.5s ease;
    }

        .video-slider-home .media-icons a {
            color: #fff;
            font-size: 1.6em;
            transition: 0.3s ease;
        }

            .video-slider-home .media-icons a:not(:last-child) {
                margin-bottom: 20px;
            }

            .video-slider-home .media-icons a:hover {
                transform: scale(1.3);
            }

    .video-slider-home video {
        z-index: 000;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.slider-navigation {
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

    .slider-navigation .nav-btn {
        width: 12px;
        height: 12px;
        background: #fff;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
        transition: 0.3s ease;
    }

        .slider-navigation .nav-btn.active {
            background: #2696E9;
        }

        .slider-navigation .nav-btn:not(:last-child) {
            margin-right: 20px;
        }

        .slider-navigation .nav-btn:hover {
            transform: scale(1.2);
        }

.video-slide {
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

    .video-slide.active {
        clip-path: circle(150% at 0 50%);
        transition: 2s ease;
        transition-property: clip-path;
    }

@media (max-width: 1040px) {
    header {
        padding: 12px 20px;
    }

    section {
        padding: 100px 20px;
    }

    .home .media-icons {
        right: 15px;
    }

    header .navigation {
        display: none;
    }

        header .navigation.active {
            position: fixed;
            width: 100%;
            height: 100vh;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(1, 1, 1, 0.5);
        }

        header .navigation .navigation-items a {
            color: #222;
            font-size: 1.2em;
            margin: 20px;
        }

            header .navigation .navigation-items a:before {
                background: #222;
                height: 5px;
            }

        header .navigation.active .navigation-items {
            background: #fff;
            width: 600px;
            max-width: 600px;
            margin: 20px;
            padding: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 5px;
            box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
        }

    .menu-btn {
        background: url(menu.png)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }

        .menu-btn.active {
            z-index: 999;
            background: url(close.png)no-repeat;
            background-size: 25px;
            background-position: center;
            transition: 0.3s ease;
        }
}

@media (max-width: 560px) {
    .home .content h1 {
        font-size: 3em;
        line-height: 60px;
    }
}






/*Media Query*/


@media only screen and (max-width: 1024px) {
    .helmet-category-teaser .teaser-helmet {
        z-index: 4;
        margin-top: 55%;
    }

    .helmet-category-teaser .teaser-link {
        padding-left: 0;
        z-index: 5;
        margin-top: 79%;
        top: 0;
    }

    .helmet-category-teaser .teaser-image {
        margin-top: 16%;
        z-index: 3;
        top: 0 !important;
    }

    .content-box .product-info {
        bottom: unset !important;
    }
}


@media only screen and (max-width: 779px) {
    .helmet-category-teaser .teaser-helmet {
        z-index: 4;
        margin-top: 62%;
    }

    .helmet-category-teaser .teaser-link {
        padding-left: 0;
        z-index: 5;
        margin-top: 145%;
        text-align: center;
    }

    .helmet-category-teaser .teaser-image {
        margin-top: 16%;
        z-index: 3;
        top: 0 !important;
    }

    .content-box .product-info {
        bottom: unset !important;
    }
}

@media only screen and (max-width: 579px) {
    .helmet-category-teaser .teaser-helmet {
        padding-top: 120%;
        margin-top: 100%;
    }

    .helmet-category-teaser .teaser-link {
        margin-top: 40px;
    }

    .helmet-category-teaser .teaser-image {
        margin: 0;
        margin-top: 22%;
        top: 0 !important;
    }

    .content-box .product-info {
        bottom: unset !important;
        left: 100px !important;
    }
}

@media only screen and (max-width: 550px) {
    .helmet-category-teaser .category-row {
        padding-top: 260%;
    }
}

@media only screen and (min-width: 780px) and (max-width: 1024px) {
    .helmet-category-teaser .category-row {
        padding-top: 120%;
    }
}

@media only screen and (min-width: 551px) and (max-width: 779px) {
    .helmet-category-teaser .category-row {
        padding-top: 220%;
    }

    .helmet-category-teaser .color-container {
        left: -50% !important;
        top: -15% !important;
        right: -50% !important;
        bottom: -15% !important;
    }
}


@media only screen and (min-width: 780px) and (max-width: 1024px) {
    .helmet-category-teaser a.item {
        padding-top: 52%;
    }
}

@media only screen and (min-width: 551px) and (max-width: 779px) {
    .helmet-category-teaser a.item {
        padding-top: 81%;
        margin-bottom: 90px;
    }
}

@media only screen and (max-width: 574px) {
    .helmet-category-teaser a.item {
        padding-top: 140%;
    }
}
/*End Media Query*/
