.block-account-navigation ul li a {
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: .25rem;
    margin: 0 0 5px 0;
}
.block-account-navigation ul li a.active, .block-account-navigation ul li a:hover  {
    color: #17a2b8;
    border-color: #17a2b8;
}
.block-account-navigation ul li svg {
    font-size: 28px;
    margin: 0 10px 0 0;
}
.block-account-navigation ul li span {
    font-size: 16px;
}

/* status */

table .status.badge {
    font-size: 16px;
    padding: 6px 8px;
}
table .status.pending {
    background-color: #d1ecf1;
}
table .status.processing {
    background-color: #fff3cd;
}
table .status.complete {
    background-color: #d4edda;
}
table .status.cancelled {
    background-color: #f8d7da;
}

/* pagination */

.pagination .current-page.page-item .page-link {
    color: #fff;
    background-color: #0E606C;
    border-color: #0E606C;
}

/* dark customer */

[dark-theme="true"] .block-account-navigation ul li a.active, [dark-theme="true"] .block-account-navigation ul li a:hover {
    color: #fff;
    border-color: #1fb0c7;
    background-color: #2d3133;
}
[dark-theme="true"] table .status {
    color: #212529;
}