@inject IWorkContext workContext

<div class="homePageStoryContainer">
    <div class="homePageIntro" style="height: 1000px;">
            <div class="d-none d-md-block homePageStoryDesktop" style="background-image: url(https://www.helmade.com/media/catalog/category/bg-home-desktop.jpg)">
            </div>
            <div class="d-md-none homePageStoryMobile" style="background-image: url(https://www.helmade.com/media/catalog/category/bg-home-mobile.jpg)">
            </div>
        <div class="intro-overlay position-relative">
            <div class="row justify-content-center">
                <div class="intro-headline col-xs-10 col-md-8 col-lg-8"></div>

                <div class="intro-text col-lg-6 col-md-8 col-xs-10">
                    <h1>Designe deinen Helm online in 3D</h1>
                    <p>Jedes einzelne helmade Produkt ist handgefertigt und wir lackieren dein Custom Helmdesign mit all unserer Leidenschaft. Es ist auch möglich uns deinen vorhandenen Helm zu schicken und wir übernehmen die Lackierung. Neben Helmlackierungen bieten wir dir ein breites Sortiment an Motorsport, Motorrad, Scooter und Vintage Helmen und eine feine Auswahl an Premium-Helmaccessoires.</p>
                    <div>
                        <a href="">
                            <div><div></div></div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-content width-limited">
    <div class="helmet-category-teaser">
        <div class="row category-row">
            <a class="teaser-helmet col-lg-3 col-xs-10 col-sm-6 col-md-4 offset-lg-2 offset-md-2 offset-sm-3 offset-1" href="https://www.helmade.com/de/helmdesign-arai-sk-6-crown-2361.html" style="transform: translate3d(0px, -43.246px, 0px);">
                <div class="gradient-container" data-colors="color_gradient_neongruen-neongelb,color_effect_metallic_neongruen,color_effect_metallic_weiss,color_effect_metallic_gold,color_effect_metallic_schwarz">
                    <div class="color-start" style="background: linear-gradient(0deg, rgb(0, 234, 59) 0%, rgba(0, 234, 59, 0) 85%); --darkreader-inline-bgimage:linear-gradient(0deg, #00bb2f 0%, rgba(0, 187, 47, 0) 85%); --darkreader-inline-bgcolor: initial;" data-darkreader-inline-bgimage="" data-darkreader-inline-bgcolor=""></div>
                    <div class="color-container" style="background: linear-gradient(rgb(0, 234, 59) 0%, rgb(120, 230, 71) 50%, rgb(20, 24, 27) 100%); --darkreader-inline-bgimage:linear-gradient(#00bb2f 0%, #569b15 50%, #101316 100%); --darkreader-inline-bgcolor: initial;" data-darkreader-inline-bgimage="" data-darkreader-inline-bgcolor=""></div>
                    <div class="color-end" style="background: linear-gradient(rgb(20, 24, 27) 0%, rgba(20, 24, 27, 0) 85%); --darkreader-inline-bgimage:linear-gradient(#101316 0%, rgba(16, 19, 22, 0) 85%); --darkreader-inline-bgcolor: initial;" data-darkreader-inline-bgimage="" data-darkreader-inline-bgcolor=""></div>
                </div>
                <div class="white-box"></div>
                <div class="content-box">

                    <div class="product-image">
                        <img id="product-collection-image-2081" src="https://www.helmade.com/media/catalog/product/cache/2/small_image/420x/9df78eab33525d08d6e5fb8d27136e95/h/e/helmade-sk6-fidel-leib-crown-design.jpg" alt="">
                    </div>

                    <div class="product-info">
                        <!--                        <span class="product-manufacturer">-->
                        <!--</span>-->
                        <span class="product-name local-color color-border" style="border-color: rgb(0, 234, 59); --darkreader-inline-border-top:#00b92f; --darkreader-inline-border-right:#00b92f; --darkreader-inline-border-bottom:#00b92f; --darkreader-inline-border-left:#00b92f;" data-darkreader-inline-border-top="" data-darkreader-inline-border-right="" data-darkreader-inline-border-bottom="" data-darkreader-inline-border-left="">
                            <span>helmade SK-6 Crown</span>
                        </span>
                        <span class="product-price">1.619,00&nbsp;€</span>

                        <div class="buy-button button local-color color-background" style="background-color: rgb(0, 234, 59); --darkreader-inline-bgcolor:#00bb2f;" data-lum="0.562828125" data-darkreader-inline-bgcolor="">Design &amp; Buy</div>
                    </div>

                </div>
            </a>
            <div class="col-lg-3 col-10 col-md-5 offset-lg-8 offset-1 offset-md-7 teaser-link" style="transform: translate3d(0px, -27.0288px, 0px);">
                        <a href="https://www.helmade.com/de/helme/motorsport/"><span>Motorsport anzeigen</span></a>
                    </div>
            <img class="col-8 col-lg-6 offset-2 offset-lg-5 teaser-headline" src="https://cdn.helmade.com/home/category-teasers/headline_motorsport.png" style="transform: translate3d(0px, -27.0288px, 0px);">
            <img class="teaser-image offset-lg-4 col-lg-6 offset-0 col-12" src="https://cdn.helmade.com/home/category-teasers/image_motorsport.jpg" style="transform: translate3d(0px, 23.7853px, 0px);">
        </div>
    </div>
</div>