@inject IWorkContext workContext

<div class="homePageStoryContainer">
    <div class="homePageIntro" style="height: 1000px;">
        <div class="d-none d-md-block homePageStoryDesktop" style="background-image: url(https://www.helmade.com/media/catalog/category/bg-home-desktop.jpg)">
        </div>
        <div class="d-md-none homePageStoryMobile" style="background-image: url(https://www.helmade.com/media/catalog/category/bg-home-mobile.jpg)">
        </div>
        <div>
            <div class="row">
                <div></div>

                <div>
                    <h1>Designe deinen Helm online in 3D</h1>
                    <p>Jedes einzelne helmade Produkt ist handgefertigt und wir lackieren dein Custom Helmdesign mit all unserer Leidenschaft. Es ist auch möglich uns deinen vorhandenen Helm zu schicken und wir übernehmen die Lackierung. Neben Helmlackierungen bieten wir dir ein breites Sortiment an Motorsport, Motorrad, Scooter und Vintage Helmen und eine feine Auswahl an Premium-Helmaccessoires.</p>
                    <div>
                        <a href="">
                            <div><div></div></div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>