@model PopularProductTagsModel
@using Grand.Web.Models.Catalog
@inject IPageHeadBuilder pagebuilder
@{
    Layout = "_TwoColumns";

    //title
    pagebuilder.AddTitleParts(Loc["Title.AllProductTags"]);
}
<div class="page product-tags-all-page">
    <h1 class="generalTitle h2">@Loc["Products.Tags.All"]</h1>
    @if (Model.Tags.Any())
    {
        <div class="btn-group-sm">
            @foreach (var item in Model.Tags)
            {
                <button class="btn btn-light d-flex align-items-center mr-2 mb-2" href="@Url.RouteUrl("ProductsByTagName", new { SeName = item.SeName })" style="font-size:@(Model.GetFontSize(item))%;">
                    @item.Name
                </button>
            }
        </div>
    }
</div>
